<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="/styles/styles.css" />
        <script type="text/javascript" src="/assets/lib/popper/popper.js"></script>
        <script type="text/javascript" src="/assets/lib/jquery/jquery-3.6.0.js"></script>
        <script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <link rel="icon" href="/images/logo.png" type="image/x-icon" />

        <title>Parkify | Sign Up</title>
    </head>

    <h1>Renter</h1>
    <form action="/signup/renter" method="POST">
        <!--Email-->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" />
        </div>

        <!--Submit-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</html>
