<html lang='en'>
    <head>
        <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css' />
        <link rel='stylesheet' href='/lib/font-awesome/css/all.css' />
        <link rel='stylesheet' href='/styles/styles.css' />
        <script type='text/javascript' src='/assets/lib/popper/popper.js'></script>
        <script type='text/javascript' src='/assets/lib/jquery/jquery-3.6.0.js'></script>
        <script type='text/javascript' src='/assets/lib/bootstrap/js/bootstrap.bundle.min.js'></script>
        <link rel='icon' href='/images/logo.png' type='image/x-icon' />

        <title>Parkify | Preregister</title>
    </head>

    <nav class='navbar navbar-expand-md navbar-dark fixed-top bg-primary'>
        <a class='navbar-brand' href='/'> <img src='/images/logo.png' style='width: 25px' /> PARKIFY </a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
        </button>
        <div class='collapse navbar-collapse' id='navbarCollapse'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>
                    <a class='nav-link' href='/'>ABOUT</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/#signup-renter'>PREREGISTER</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class='container h-100'>
        <div class='row h-100 justify-content-center align-items-center'>
            <div class='rounded-box p-4'>
                <h2 class='text-center py-4'>PARKING SPACE INFORMATION</h2>
                <div class='row'>
                    <form class='col-6 my-auto' action='/signup/rentee/parking' method='POST'>
                        <div class='form-group d-flex flex-row align-items-center'>
                            <label class='control-label col-5' for='count'>No. of Parking Spaces: </label>
                            <input type='number' class='form-control' name='count' placeholder='Number of Parking Spaces' required='required' />
                        </div>

                        <div class='form-group d-flex flex-row align-items-center'>
                            <label class='control-label col-5' for='type'>Nature of Parking Spaces: </label>
                            <select class='form-select form-control' name='type'>
                                <option value='residential' selected>Residential Area</option>
                                <option value='commercial'>Commercial Area</option>
                                <option value='residential or commercial'>Residential and Commercial Area</option>
                            </select>
                        </div>

                        <div class='form-group d-flex flex-row align-items-center'>
                            <label class='control-label col-5' for='location'>Location of Parking Spaces: </label>
                            <input type='text' class='form-control' name='location' placeholder='Name of City' required='required' />
                        </div>

                        <div class='form-group d-flex flex-row align-items-center'>
                            <label class='control-label col-5' for='time'>Time: </label>
                            <input type='time' class='form-control' name='time_start' placeholder='Price per Hour (in Php)' required='required' />
                            <span class='mx-1'>to</span>
                            <input type='time' class='form-control' name='time_end' placeholder='Price per Hour (in Php)' required='required' />
                        </div>

                        <div class='form-group d-flex flex-row align-items-center'>
                            <label class='control-label col-5' for='price'>Renting Price per Hour<span class='text-danger'>*</span>: </label>
                            <input type='number' class='form-control' name='price' placeholder='Price per Hour (in Php)' required='required' />
                        </div>

                        <div class='form-group d-flex flex-row align-items-center'>
                            <small class='text-danger'>*your total earnings on our platform will be subject to a {{percent}}% commission</small>
                        </div>

                        <div class='form-group'>
                            <button type='submit' class='btn btn-primary btn-block mb-2'>CONTINUE</button>
                        </div>
                    </form>
                    <div class='col-6'>
                        <img src='/images/parking-space-owners.png' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>