html,
body {
    height: 100%;
}

body {
    padding-top: 4.5rem;
}

img {
    width: 100%;
    height: auto;
}

.featurette {
    min-height: 50vmin;
}

.btn-primary {
    background-color: #003cec;
    border-color: #003cec;
}

.bg-primary {
    background-color: #003cec !important;
}

.text-primary {
    color: #003cec !important;
}

.rounded-box {
    border-radius: 10px;
    /* border: 0.5px solid gray; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
